@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Targeting the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

/* Scrollbar track (background area) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 10px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #bbb; /* Darker grey thumb */
  border-radius: 10px; /* Rounded corners */
}

/* Hover effect on scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #aaa; /* Even darker grey on hover */
}
